/*Custom CSS*/


/*Typography*/

h1, h2, h3, h4, h5, h6, p, body {
  font-family: 'UniversLTStd', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif !important;
  font-weight: 300;
}

body {
  color: #1e1e1e;
  background: #fff;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 1.5rem;
}

p {
  font-size: 18px;
}

a {
  color: #a0a0a0;
  text-decoration: underline;
}

a:hover {
  color: #ef3f42;
}


/*Header*/

header {
  height: auto;
  padding: 40px 0px 80px;
  line-height: 36px;
}

header a {
  text-decoration: none;
}

header ul {
  margin: 0;
}

header li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 36px;
  display: inline-block;
}

header li a {
  padding-right: 1.5rem;
  font-size: 18px;
}

.logo a {
  color: #1e1e1e;
}

.logo a:hover {
  color: #0000ff;
}


/*Main Body*/

.main {
  padding-bottom: 80px;
}

.main b {
  font-weight: normal;
}

/*Footer*/

footer {
  height: auto;
  padding: 40px 0;
  color: #a0a0a0;
}
