/*Custom CSS*/

/*Typography*/

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('/AtlasGrotesk-Regular.woff2') format('woff2'),
		   url('/AtlasGrotesk-Regular.woff') format('woff'),
       url('/AtlasGrotesk-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6, p, body {
  font-family: "Atlas Grotesk","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: normal;
}

body {
  color: #333;
  background: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 0;
}

p {
  font-size: 18px;
}

a {
  font-size: 18px;
  color: #000;
  transition: color 0.1s ease;
  -webkit-transition: color 0.1s ease;
}

a:hover {
  color: #000;
  opacity: .65;
}

.miami {
  color:#35de79;
}

.miami:hover {
  color: #333;
  opacity: 1;
}



/*Header*/

.header {
  height: auto;
}

.desktop {
  padding: 50px 0;
}

.mobile {
  padding: 25px 0;
}



/*Main*/

.main {
  height: auto;
  padding: 100px 0;
}



/*Media Queries*/

/*Small only*/
@media screen and (max-width: 39.9375em) {
  p, .miami{
    font-size: 26px;
    line-height: 38px;
  }
}

/*Medium only*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  p, .miami{
    font-size: 36px;
    line-height: 48px;
  }
}

/*Large and up*/
@media screen and (min-width: 64em) {
  p, .miami{
    font-size: 44px;
    line-height: 60px;
    text-align: center;
  }
}
