/*Custom CSS*/


/*Typography*/

h1, h2, h3, h4, h5, h6, p, body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body {
  color: #1e1e1e;
  background: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 1.5rem;
}

p {
  font-size: 18px;
}

a {
  font-size: 18px;
  color: #1e1e1e;
  border-bottom: 1px solid;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

a:hover {
  color: #4b32f0;
  border-bottom: transparent;
}


/*Header*/

.header {
  height: auto;
}

.desktop {
  padding: 50px 0;
}

.mobile {
  padding: 0 0 25px;
}

.header a {
  color: #a0a0a0;
  border-bottom: none;
}

.header a:hover {
  color: #1e1e1e;
}

.logo a {
  color: #1e1e1e;
  font-weight: 400;
}

/*.logo a:hover {*/
/*  color: #4b32f0;*/
/*}*/

.logo.text-right {
  float: right;
}

.menu > li > a {
  margin: 0 0 0 4rem;
  padding: 0;
  line-height: inherit;
}

.menu.vertical > li > a {
  margin: 0;
}


/*Main*/

.main {
  height: auto;
  padding: 100px 0;
}


/*Footer*/

.footer {
  height: auto;
}

.footer, .footer a {
  color: #a0a0a0;
  border-bottom: none;
}

.footer a:hover {
  color: #1e1e1e;
}

hr {
  border-color: #f0f0f0;
}
