/*Custom CSS*/

/*Typography*/

h1, h2, h3, h4, h5, h6, p, body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body {
  color: #fff;
  background: #0a0a0a;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 0;
}

p {
  font-size: 18px;
}

a {
  font-size: 18px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

a:hover {
  color: #999;
}

.miami {
  border-bottom: 2px solid;
}

.miami:hover {
  color: #fac8fb;
  border-bottom: transparent;
}



/*Header*/

.header {
  height: auto;
}

.desktop {
  padding: 50px 0;
}

.mobile {
  padding: 25px 0;
}



/*Main*/

.main {
  height: auto;
  padding: 100px 0;
}



/*Media Queries*/

/*Small only*/
@media screen and (max-width: 39.9375em) {
  p, .miami{
    font-size: 26px;
    line-height: 38px;
  }
}

/*Medium only*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  p, .miami{
    font-size: 36px;
    line-height: 48px;
  }
}

/*Large and up*/
@media screen and (min-width: 64em) {
  p, .miami{
    font-size: 44px;
    line-height: 60px;
    text-align: center;
  }
}
