/*Custom CSS*/

/*Typography*/

@font-face {
	font-family: 'NeueHaasGrotesk';
	src:	url('/NHaasGroteskDSPro-65Md.woff2') format('woff2'),
			url('/NHaasGroteskDSPro-65Md.woff') format('woff'),
			url('/NHaasGroteskDSPro-65Md.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6, p, body {
	font-family: "NeueHaasGrotesk", sans-serif;
	font-weight: normal;
}

body {
	color: #fff;
	background: #000;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #888;
	transition: color 0.1s ease;
	-webkit-transition: color 0.1s ease;
}

a:hover, a:focus {
	color: #999;
}

.menu a {
	padding: 0.5rem 1.25rem 0.5rem 0;
}

.color {
	color: #EEFF41;
	border-bottom: 3px solid;
	border-color: rgba(238, 255, 65, .1);
}

.color:hover {
	color: #EEFF41;
	border-bottom: 3px solid;
	border-color: rgba(238, 255, 65, 1);
}




/*Media Queries*/

/*Small only*/
@media screen and (max-width: 39.9375em) {
  p {
	font-size: 1.375rem;
	line-height: 2rem;
	}
}

/*Medium only*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  p {
	font-size: 1.75rem;
	line-height: 3rem;
	}
}

/*Large and up*/
@media screen and (min-width: 64em) {
  p {
	font-size: 2rem;
	line-height: 3rem;
	}
}
